@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 2
   
   Save your Fork Graphic Design Styles
    Author: Todd Adcox Jr
    Date:    11-9-18

   Filename: sf_effects.css

*/

/* Body Header Styles */

/* adds a dark gray drop shadow to the left and right border of the page body */
body {
    filter: drop-shadow(10px 0px 50px rgb(51, 51, 51)) drop-shadow(-10px 0px 50px rgb(51, 51, 51));
}

/* Navigation Tabs List Styles */

/* changes the background image, the image is not going to tile (repeat itslef), its centered both horizontally and vertically, and its set to cover the entire nav. */
body>header nav.tabs {
    background: url(sf_back1.png) center center no-repeat;
    background-size: cover;
}

/* setting the perspective of the nav to a 3D space with 50 pixels and rotating it 20° around the x-axis */
body>header nav.tabs li {
    transform: perspective(50px) rotateX(20deg);
}

/* when a user hovers over a link in the nav it changes from blue to white. */
body>header nav.tabs li:hover {
    background-color: rgb(231, 231, 231);
}

/* Left Section Styles */
/* adds a 1 pixel solid border with a raduis with 25%, the radius is making the corners round. */
section#left nav.vertical {
    border: 1px solid rgb(20, 167, 170);
    border-radius: 25px;
}

/* adds a raduis 25% to the border, the radius is making the corners round. */
section#left nav.vertical h1 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Center Article Styles */

/* adds a radialgradient to the background with a white center, has a color stop of 30%. It transitions to a light gray color. Adds a  1-pixel solid border with the color gray value with a radius of 50 pixels. Adds a box shadow with horizontal and vertical offsets of 10 pixels with a 20-pixel blur and a color of dark gray.*/
section#center article {
    background: radial-gradient(white 30%, rgb(151, 151, 151));
    border: 1px solid rgb(151, 151, 151);
    border-radius: 50px;
    box-shadow: 10px 0px 20px rgb(51, 51, 51);
}

/* Blockquote Styles */

/* this is setting the background image to the linked image, the image is not repeating itself, makes the imgage cover 100% of the blockquote, adds a filter. */
blockquote {
    background: url(sf_speech.png) no-repeat;
    background-size: 100% 100%;
    filter: drop-shadow(5px 0px 10px rgb(51, 51, 51));
}

/* this makes the imgaes circular. */
cite img {
    border-radius: 50%;
}